# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll
*.dylib

# Virtual environment
venv/
.env

# IDE and editor settings
.vscode/
.idea/

# Logs and cache
*.log
*.cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
